.background {
    width: 1024px;
    height: 768px;
    background-color: blue;
    background-image: url(https://t4.ftcdn.net/jpg/05/45/42/81/360_F_545428173_uyYWJoR9n5uJFYIWfDa2C49AzIECcU20.jpg);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 100%;
}

.container img {
    /* float: left; */
    float: right;
}

/* 
.container>img {
    float: left;
    float: right;
} */

#myelement {
    background-color: black;
}

.container {
    width: 600px;
    /* margin: 0 10px 0 20px; */
    /* margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto; */
    margin: 0px auto;
    border: 5px solid black;
    /* padding: 10px; */
    font-family: Arial, Helvetica, sans-serif;
}

p {
    background: lightgreen;
    font-size: 20px !important;
    line-height: 36px;
}

span {
    background: yellow;
}

.first-block {
    margin-bottom: 0;
}

.second-block {
    margin-top: 0;
}

h1 {
    text-align: center;
    letter-spacing: 2px;
}

section {
    /* text-align: center; */
    /* text-align: left; */
    text-align: justify;
    /* text-transform: uppercase; */
}

a {
    color: black;
}

section a {
    color: green;
}

section p a {
    color: pink;
}

.container>a {
    color: orange;
}

div.box {
    background-color: red;
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    border: 10px solid black;
}

.box-1 {
    box-sizing: content-box;
}

.box-2 {
    box-sizing: border-box;
}

/* cyrillic */
@font-face {
    font-family: 'Underdog';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/underdog/v23/CHygV-jCElj7diMroWShWV82Nw.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Underdog';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/underdog/v23/CHygV-jCElj7diMroWSrWV82Nw.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Underdog';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/underdog/v23/CHygV-jCElj7diMroWSlWV8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.underdog-regular {
    font-family: "Underdog", sans-serif, system-ui;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 100px;
}

.position-box {
    width: 60px;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    background-color: gray;
}

.wrapper {
    border: 1px solid black;
    position: relative;
}

.parent {
    border: 1px solid red;
    position: relative;
}

.relative {
    background: lightblue;
    position: relative;
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
}

.absolute {
    background: pink;
    position: absolute;
    right: 25%;
    bottom: 5%;
}

.fixed {
    background: lightgreen;
    position: fixed;
    top: 0;
    right: 0;
}

.sticky {
    background: lightgrey;
    position: sticky;
    left: 50px;
    top: 30px;
}

ul {
    width: 500px;
    height: 250px;
    background: powderblue;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 5px solid grey;
}

ul li {
    border: 4px solid white;
    padding: 10px;
    margin: 0;
}

ul {
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    align-items: center;
    align-items: flex-start;
    align-items: flex-end;
}

.flex-container {
    background: powderblue;
    border: 5px solid darkslategray;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
}

.flex-item {
    border: 4px solid white;
    padding: 10px;
    flex: 1 1 auto;
}

.item-4 {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
}

.item-2 {
    flex-grow: 3;
}

.grid-container {
    border: 4px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: repat(2 1fr);
    gap: 20px 10px;
}

.grid-item {
    border: 2px solid mediumvioletred;
    padding: 10px;
}

.item-4 {
    grid-column: span 2;
}

.item-5 {
    grid-row: span 2;
}